/* Colors for the Site */

:root {
  --bg: #f0f0f0;
  --fg: #222222eb;
  --white: #fff;

  --button-border: #777777cc;
}

/* Global Defaults */

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input{
  background: inherit;
  border: 0;
  outline: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.para {
  margin: 1rem 0;
  padding: 0.5rem 0;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 24px;
  }
}
